version: "3"
services:
   bot:
       build: .
       command: python main.py
       depends_on:
         - redis
         - database
       ports:
       - "5000:5000"
   redis:
     image: redis:latest
     restart: always
     command: redis-server --requirepass RedisPass
     ports:
     - '6379:6379'
     depends_on:
       - database

   worker:
     restart: always
     build: .
     command: ['celery', '-A', 'celery_bot', 'worker', '--beat', '-l', 'INFO']
     depends_on:
       - database
       - redis

   database:
     image: postgres:latest
     environment:
       POSTGRES_USER: "admin"
       POSTGRES_PASSWORD: "admin_password"
       POSTGRES_HOST: "postgres"
       POSTGRES_PORT: "5432"
       POSTGRES_DB: "db"
     ports:
     - "5432:5432"


   nginx:
     image: nginx
     ports:
     - "6000:6000"